{% extends 'todos/base.html' %}

{% block style %}
<style>
@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'KCC-Ganpan';
}

a {
    text-decoration-line: none;
    color: pink;
    font-size: 20px;
}
</style>

{% endblock style %}

{% block content %}
<div class="container m-5 text-center">
  <h1>Todo 수정 완료.</h1>
  <a href="{% url 'todos:todocontent' todo.pk %}" class ='me-2'>Back</a>
  <a href="{% url 'todos:todo' %}">List</a>
</div>
{% endblock content %}
