<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="3; url='{% url 'articles:index' %}">
  <title>facenote</title>
  {% load static %}
  <link rel="icon" href="{% static 'images/face_favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="page_color" >
      <p class="main">facenote</p>
</body>
</html>
