{% extends 'base.html' %}
{% block title %}Join{% endblock title %}

{% block content %}

<div class="content">
    <div>
        <h1>회원가입</h1>
    </div>
    <div class="mypage_content">
        <form action="{% url 'accounts:join' %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="content">
              <input type="submit" value="Join" class="btn btn_style">
              <input type="submit" value="Back" class="btn btn_style" onclick="back()">
            </div>
        </form>
    </div>
</div>

{% endblock content %}