@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'LOTTERIACHAB';
}

h1 {
    color: rgb(93, 93, 93);
}

a {
    text-decoration: none;
    color:rgb(201, 186, 244);
    font-size: 25px;
}

.center {
    text-align: center;
}

.main_title{
    margin-top: 30px;
}