{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block content %}

<div class="box">
    <div class="title">
        <h1>회원가입</h1>
    </div>
    <div class="join_input">
        <form action="{% url 'accounts:join' %}" method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn_style" value= "Join">
            <a href="{% url 'main' %}" class="btn btn_style">Back</a>
        </form>
    </div>
</div>

{% endblock content %}
