{% extends 'base.html' %}

{% block style %}
<style>
@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
* {
    font-family: 'TTTtangsbudaejjigaeB'
}
.red {
    color : red
  }
</style>
{% endblock style %}

{% block content %}
<div class="container mt-3">
  <h1 class="text-center">오늘의 추천 저녁 메뉴는 <b class='red'> {{ food }} </b> 입니다.</h1>
  <h2 class="text-center">함께 할 음료는 <b class='red'> {{ drink }} </b> 입니다 :) </h2>
</div>
{% endblock content %}

