{% extends 'base.html' %}

{% block style %}
<style>
@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
* {
    font-family: 'TTTtangsbudaejjigaeB'
}
</style>

{% endblock style %}

{% block content %}
<div class="container m-5 text-center">
  {% for sixnum in lst %}
    <h1>{{ sixnum|join:" ♥ "}}</h1>
  {% endfor %}
  <form action="/lotto-create/" method="GET" class="row g-3 mt-5">
      <input type="submit" class="btn btn-outline-warning" value="뒤로가기">
  </form>
</div>
{% endblock content %}
