{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block content %}

<div class="box">
    <div class="title">
        <h1>로그인</h1>
    </div>
    <div class="login_input">
        <form action="{% url 'accounts:login' %}" method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn_style" value= "Login">
            <a href="{% url 'main' %}" class="btn btn_style">Back</a>
        </form>
    </div>
</div>

{% endblock content %}
