{% extends 'base.html' %}
{% block title %}Password{% endblock title %}

{% block content %}

<div class="content">
    <div>
        <h1>비밀번호 변경</h1>
    </div>
    <div>
        <form action="{% url 'accounts:change_password' %}" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save" class="btn btn_style">
            <input type="submit" value="Back" class="btn btn_style" onclick="back()">
        </form>
    </div>
</div>
{% endblock content %}